<td-layout-card-over cardTitle="Todos" cardSubtitle="Add or complete todos" cardWidth="75">
  <td-search-box backIcon="arrow_back"
    placeholder="Search here"
    [showUnderline]="true"
    [debounce]="500"
    [alwaysVisible]="false"
    (searchDebounce)="searchInputTerm.next($event)"
    (search)="searchInputTerm.next($event)"
    (clear)="searchInputTerm.next('')">
  </td-search-box>
  <ul *tdLoading="'loader'">
    <li *ngFor="let item of todos">
      <poc-om-list-item flex
        [item]="item"
        (toggleDone)="onToggleDone($event)"
        (delete)="onDelete($event)"
        (edit)="onEdit($event)"
      ></poc-om-list-item>
    </li>
  </ul>
  <a md-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['../add']">
      <md-icon>add</md-icon>
  </a>
  <md-divider></md-divider>
  <md-card-footer>
    <poc-todo-footer [todos]="todos"></poc-todo-footer>
  </md-card-footer>
</td-layout-card-over>
