<td-layout-card-over cardTitle="Todos" cardSubtitle="Add or complete todos" cardWidth="75">
  <ul *tdLoading="'loader'">
    <li *ngFor="let item of todos | async">
      <poc-om-list-item flex
        [item]="item"
        (toggleDone)="onToggleDone($event)"
        (delete)="onDelete($event)"
        (edit)="onEdit($event)"
      ></poc-om-list-item>
    </li>
  </ul>
  <a md-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['../add']">
      <md-icon>add</md-icon>
  </a>
  <md-divider></md-divider>
  <md-card-footer>
    <poc-todo-footer [todos]="todos | async"></poc-todo-footer>
  </md-card-footer>
</td-layout-card-over>
